* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

html {
  background-color: #1d2021;
}

#app {
  display: flex;
}

textarea {
  color: #ebdbbd;
  background-color: #282828;
  border: none;
  border: 3px solid #ebdbbd;
  margin: 2rem;
  padding: 1rem;
  font-family: monospace;
  outline: none;
  width: calc(50% - 5rem);
  min-width: calc(50% - 5rem);
  resize: none;
}

.vbar {
  background-color: #ebdbbd;
  height: 100%;
  width: 1rem;
}

.timeline {
  max-width: 50%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #ebdbbd;
  align-items: center;
  overflow-y: scroll;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 5rem;

  .line {
    display: block;
    border: 1px dashed #ebdbbd;
    width: 1px;
    flex-shrink: 0;
    flex-grow: 1;
  }

  .data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .date {
      border: 3px solid #ebdbbd;
      padding: 0.25rem 2rem;
      border-radius: 1rem;
    }

    .caption {
      max-width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-break: loose;
      hyphens: auto;
    }
  }
}
